@{
    ViewBag.Title = "About Breanna Hentosz";
}
<h1>@ViewBag.Title.</h1>
<h2>@ViewBag.Message</h2>

<p>Breanna is from Pittsburgh, PA. She loves her hometown, and made it a goal to stay in Pittsburgh upon gradution which worked out since she landed a job in her city.</p>
<p>Breanna's favortie hobby is rowing. She rowes downtown at the Three Rivers in Pittsburgh</p>
<p>Breanna loves to cook, especially with an Instant Pot or Sous Vide.</p>
<p>When Breanna is not in Athens, you can find her with her Shar Pei in Pittsburgh, Pennsylvania.</p>