@{
    ViewBag.Title = "Contact Breanna Hentosz";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1568 Hastings Mill Road<br />
    Pittsburgh, PA 15241<br />
    <abbr title="Phone">P:</abbr>
    412.841.2805
</address>

<address>
    <strong>Breanna Hentosz:</strong>   <a href="mailto:bh096517@ohio.edu">Please Contact Breanna With Any Questions or Concerns</a><br />

</address>